body {
  margin: 0;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.headercls
{
  background-color: rgb(248, 244, 244);
  height: 80px;
}
.headerimgcls
{
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0.6;
}
.footercls
{
  background-color: rgb(248, 244, 244);
  color:black;
 font-family:ABCRepro-Medium, "Helvetica Neue", Helvetica, Arial, sans-serif;
 height: 80px;


}
.footercontent ul {
  display: block;
  list-style-type: none;

}
.footercontent li{
  text-align: left;
  margin-left: 29px;

}
.footercontent
{
  text-align: center;
}
.homeClass{
margin: 2px;
}